<div class="header">
  <div class="header-main">
    <ng-container *ngIf="buttonLogTextContent$ | async as buttonLogTextContent">
      <button class="login_button" (click)="loginAutorization()">
        {{ buttonLogTextContent }}
      </button>
    </ng-container>
    <div class="search-block">
      <app-logo></app-logo>
      <app-search-form></app-search-form>
      <app-settings-button
        (click)="changeFilterVisability()"></app-settings-button>
    </div>
    <app-user-data class="user"></app-user-data>
  </div>
  <ng-container *ngIf="isFilterVisible">
    <app-filtering-block></app-filtering-block>
  </ng-container>
</div>
