<ng-container *ngIf="currentCard">
  <main class="main_details">
    <a routerLink="/">
      <button class="button_back" appButtonColor [publishAt]="currentCard.date">
        <div class="arrow_back"></div>
      </button>
    </a>
    <div class="details_container">
      <div class="link_container">
        <a [href]="currentCard.img" class="link">
          <p>Img link: {{ currentCard.img }}</p>
        </a>
        <a [href]="currentCard.link" class="link">
          <p>Video link: {{ currentCard.link }}</p>
        </a>
      </div>
      <div class="details_content" appHighlight [publishAt]="currentCard.date">
        <div class="title_container">
          <p class="video_title">{{ currentCard.title }}</p>
          <p class="date">
            {{ currentCard.date | date: 'fullDate' }}
          </p>
        </div>
        <p class="description_title">Description:</p>
        <p class="description_content">{{ currentCard.description }}</p>
      </div>
    </div>
  </main>
</ng-container>
