<main class="login_main">
  <form class="login_form" [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <p class="title">Login</p>
    <label for="inputLogin" class="input_label">login</label>
    <input
      #inputLogin
      type="text"
      class="{{
        loginForm.controls.login.invalid && loginForm.controls.login.dirty
          ? 'input_error'
          : 'input'
      }}"
      formControlName="login" />
    <div
      *ngIf="
        loginForm.controls.login.invalid &&
        (loginForm.controls.login.dirty || loginForm.controls.login.touched)
      "
      class="error-container">
      <span
        *ngIf="
          loginForm.controls.login.errors &&
          loginForm.controls.login.errors['required']
        "
        class="error_message"
        >Please enter a login email</span
      >
      <span
        *ngIf="
          loginForm.controls.login.errors &&
          loginForm.controls.login.errors['email']
        "
        class="error_message"
        >The login email is invalid</span
      >
    </div>
    <label for="inputPassword" class="input_label">password</label>
    <input
      #inputPassword
      type="password"
      class="{{
        loginForm.controls.password.invalid && loginForm.controls.password.dirty
          ? 'input_error'
          : 'input'
      }}"
      formControlName="password" />
    <div
      *ngIf="
        loginForm.controls.password.invalid &&
        (loginForm.controls.password.dirty ||
          loginForm.controls.password.touched)
      "
      class="error-container">
      <span
        *ngIf="
          loginForm.controls.password.errors &&
          loginForm.controls.password.errors['required']
        "
        class="error_message"
        >Please enter a password</span
      >
    </div>
    <div
      *ngIf="
        loginForm.controls.password.invalid &&
        (loginForm.controls.password.dirty ||
          loginForm.controls.password.touched)
      "
      class="error-container">
      <span
        *ngIf="
          loginForm.controls.password.errors &&
          loginForm.controls.password.errors['passwordNotStrength'] &&
          loginForm.controls.password.errors['passwordNotStrength'].value
        "
        class="error_message"
        >{{
          loginForm.controls.password.errors['passwordNotStrength'].message
        }}</span
      >
    </div>
    <button
      class="{{ loginForm.invalid ? 'button_disabled' : 'button_login' }}"
      [disabled]="loginForm.invalid">
      Login
    </button>
  </form>
</main>
