<div class="item" appHighlight [publishAt]="cardInfo.date">
  <p class="video-title">{{ cardInfo.title }}</p>
  <p class="video-description">{{ cardInfo.description }}</p>
  <a [href]="cardInfo.img" class="link">
    <p class="link">Img link: {{ cardInfo.img }}</p>
  </a>
  <a [href]="cardInfo.link" class="link">
    <p class="link">Video link: {{ cardInfo.link }}</p>
  </a>
  <p class="link">Creation date: {{ date | date: 'fullDate' }}</p>
  <button class="remove_card_btn" (click)="deleteCard(cardInfo.id)">
    <div class="icon-urn"></div>
    Remove card
  </button>
  <app-custom-button [className]="'item-button button'" (click)="toDetails()"
    >more...</app-custom-button
  >
</div>
