@import '../../../global.scss';


.search-button.button {
    cursor: pointer;
    color: $white-color;
    background-color: $blue-color;
    height: 24px;
    width: 80px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: 5px 0px 3px $blue-color;
    transition: .5s;
    font-size: .75rem;
    font-weight: 400;

    &:hover {
        background-color: $blue-color-hover;
        box-shadow: 5px 0px 3px $blue-color-hover;
    }
}

.item-button.button {
    cursor: pointer;
    color: $white-color;
    background-color: $blue-color;
    width: 120px;
    height: 32px;
    box-shadow: 3px 0px 2px $blue-color;
    border-radius: 3px;
    border: none;
    transition: .5s;

    &:hover {
        background-color: $blue-color-hover;
        box-shadow: 3px 0px 2px $blue-color-hover;
    }
}
