@import '../../../../global.scss';

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 320px;
}

.text-pointer,
.word-sort,
.sort-button {
    color: $blue-color;
    font-size: .75rem;
}

.text-pointer {
    color: $grey-color;
}

.sort-button {
    cursor: pointer;
    background-color: $background-color;
    border: none;
    margin-bottom: 12px;

    &:hover {
        text-decoration: underline;
    }
}

.word-sort {
    margin-right: 10px;
}
