.statistic_container {
    box-sizing: border-box;
    width: 250px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.viewes,
.likes,
.dislikes,
.comments {
    display: flex;
    align-items: center;
}

.count {
    font-size: 0.625rem;
    margin: 0;
    margin-left: 5px;
}

.icon-viewes,
.icon-likes,
.icon-dislikes,
.icon-comments {
    width: 15px;
    height: 13px;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-viewes {
    width: 20px;
    background-image: url('../../../../assets/viewed.svg');
}

.icon-likes {
    background-image: url('../../../../assets/liked.svg');
}

.icon-dislikes {
    background-image: url('../../../../assets/dislike.svg');
}

.icon-comments {
    width: 13px;
    background-image: url('../../../../assets/comment.svg');
}