<div class="statistic_container">
  <div class="viewes">
    <div class="icon-viewes"></div>
    <p class="count">{{ statistic.viewCount }}</p>
  </div>
  <div class="likes">
    <div class="icon-likes"></div>
    <p class="count">{{ statistic.likeCount }}</p>
  </div>
  <div class="dislikes">
    <div class="icon-dislikes"></div>
    <p class="count">{{ statistic.favoriteCount }}</p>
  </div>
  <div class="comments">
    <div class="icon-comments"></div>
    <p class="count">{{ statistic.commentCount }}</p>
  </div>
</div>
