<main class="main">
  <ng-container *ngIf="cards$ | async as cards">
    <app-admin-cards
      *ngFor="let card of cards"
      [cardInfo]="card"></app-admin-cards>
  </ng-container>
  <ng-container *ngIf="isRequestSend$ | async as isRequestSend">
    <ng-container *ngIf="isRequestSend">
      <ng-container *ngIf="videos$ | async as videos">
        <app-search-results-item
          *ngFor="
            let video of videos
              | filterData: isSortingDataTurn : isSortDataFromLargestToSmallest
              | filterViews
                : isSortingViewsTurn
                : isSortViewsFromLargestToSmallest
              | filterWords: filterInputValue
          "
          [cardInfo]="video"></app-search-results-item>
      </ng-container>
    </ng-container>
  </ng-container>
</main>
