<main class="main">
  <ng-container *ngIf="cards$ | async as cards">
    <app-admin-cards
      *ngFor="let card of cards"
      [cardInfo]="card"></app-admin-cards>
  </ng-container>
  <ng-container *ngIf="isRequestSend$ | async as isRequestSend">
    <ng-container *ngIf="isRequestSend">
      <ng-container *ngIf="videos$ | async as videos">
        <app-search-results-item
          *ngFor="
            let video of videos
              | filterData: isSortingDataTurn : isSortDataFromLargestToSmallest
              | filterViews
                : isSortingViewsTurn
                : isSortViewsFromLargestToSmallest
              | filterWords: filterInputValue
          "
          [cardInfo]="video"></app-search-results-item>
      </ng-container>
    </ng-container>
  </ng-container>
</main>

<ng-container *ngIf="videos$ | async as videos">
  <ng-container *ngIf="videos.length">
    <div class="pagination_container">
      <button [class]="currentPage === 1 ? 'hidden' : 'arrow_left_btn'">
        <div class="icon_arrow_left"></div>
      </button>
      <p class="page">{{ currentPage }}</p>
      <button class="arrow_right_btn" (click)="increasePage()">
        <div class="icon_right_left"></div>
      </button>
    </div>
  </ng-container>
</ng-container>
