@import '../../../global.scss';

.logo_button {
    border: none;
    background-color: $background-color;
}

.logo {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-image: url('../../../../assets/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
}